<h1><%= @event.title%></h1>
<p><%= @event.description%></p>
<p>Createur : <%= @creator.email %> </p>
<p> commence le <%= @event.start_date%> finit le <%= @event.start_date + @event.duration %> </p>
<p> Où ? <%= @event.location %> </p>
<p> Prix : <%= @event.price %> € </p>
